# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [35]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.dropna(subset=['tobs'],inplace=True)

In [9]:
# Convert the date column format from string to datetime
df.date = pd.to_datetime(df.date)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [13]:
# Set the date column as the DataFrame index
df.set_index('date', inplace=True)

In [15]:
# Drop the date column
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19550 entries, 2010-01-01 to 2017-08-23
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   prcp     18103 non-null  float64
 2   tobs     19550 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 610.9+ KB

### Compare June and December data across all years

In [22]:
from scipy import stats

In [23]:
# Filter data for desired months
jun_data = df[df.index.month == 6]
dec_data = df[df.index.month ==12]

In [28]:
# Identify the average temperature for June
jun_avg = round(jun_data.tobs.mean(),2)
jun_avg

74.94

In [29]:
# Identify the average temperature for December
dec_avg = round(dec_data.tobs.mean(),2)
dec_avg

71.04

In [ ]:
# Create collections of temperature data

In [37]:
# Run paired t-test
stats.ttest_ind(jun_data.tobs, dec_data.tobs, equal_var=False)

Ttest_indResult(statistic=31.355036920962423, pvalue=4.193529835915755e-187)

### Analysis